
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atique Khan</title>

    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>


    <link href="../static/css/home.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="gradientBg"> </div>

<div class="auth">
    <a href="#" class="pad-style login ">Login</a>
    <a href="#" class=" signup ">Sign Up</a>
</div>

<div class="name">
  <a href="{% url 'home' %}"><span>ATIQUE</span> <span>KHAN</span></a>
</div>

<div class="verticalNav">
    <ul>
      <li><a href="{% url 'store' %}" class="store">STORE</a></li>
      <li><a href="#" class="about">ABOUT</a></li>
    </ul>
</div>



</body>
</html>

    
    