{% extends 'store/base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mx-auto border rounded pt-3">
            {% if error %}
            <div class="alert alert-danger">
                <strong>Wrong Credentials</strong>
            </div>
            {% endif %}
    
            <form action="/login" method="POST">
                {% csrf_token %}

                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    {{ form.email }}
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    {{ form.password }}
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock body %}